.col-lg-6
  %h2
    = t '.send_resume'
  = form_for @resume, url: jobs_path, html: {class: 'web-form', multipart: true} do |f|
    - if @resume.errors.any?
      .ror-team-errors
        %h6
          = pluralize(@resume.errors.count, "error")
          prohibited this resume from being sending
        %ul
          - @resume.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      - if @jobs
        = f.select(:job_id, options_for_select(@jobs.map { |j| [j.title, j.id] }), {}, {class: 'form-control'})
      - else
        = f.select(:job_id, options_for_select(@job.title => @job.id), {}, {class: 'form-control'})
    .form-group
      = f.text_field :name, id: 'name', class: 'form-control', placeholder: t('.your_name') + '*', type: 'text', minlength: '2'
    .form-group
      = f.email_field :email, id: 'email', class: 'form-control', placeholder: t('.your_email') + '*', type: 'email'
    .form-group
      = f.telephone_field :phone, id: 'input-phone', class: 'form-control', placeholder: t('.your_phone') + '*', type: 'text'
    .form-group
      = f.text_area :description, class: 'form-control', placeholder:  t('.your_message') + '*', rows: '5'
    .form-group
      = f.fields_for :upload_file do |builder|
        = builder.file_field :filename
    = recaptcha_tags
    .submit-form.col-lg-12
      = f.submit t('.send_resume'), class: 'btn pull-right btn-primary check_errors', data: {disable_with: 'Please wait...'}