.row.careers-index
  .span6
    %h2
      Open vacancies:
    .careers
      .career
        = image_tag('/icon-info.png')
        %botton.btn.input-large{:type => 'submit'}
          = @job.title
        .descr
          %p
            = @job.description
    = render 'form'
.row
  = render :partial => 'shared/post_jobs'
