%p
  Sorry, but now absent any free manager. You can send request on our email
.web-form.row
  = form_for @message ||= Message.new, url: contact_index_path(small_window: '1'), html: {class: 'web-form', multipart: true} do |form|
    - if @message.errors.any?
      .ror-team-errors
        %h6
          = pluralize(@message.errors.count, 'error')
          prohibited this message from being sent:
        %ul
          - @message.errors.full_messages.each do |msg|
            %li= msg
    .name.col-lg-12.form-group
      = form.text_field(:name, 'placeholder' => 'Your name*', 'class' => 'form-control')
    .email.col-lg-12.form-group
      = form.email_field(:email, 'placeholder' => 'Your email*', 'class' => 'form-control')
    .text.col-lg-12.form-group
      = form.text_area(:text, 'placeholder' => 'Your message', 'class' => 'form-control' , 'rows' => '5')
    #recaptcha-home
      .text.col-lg-12.form-group#recaptcha-div
        = recaptcha_tags display: {theme: 'white'}, ajax: true
    .text.col-lg-12.form-group
      = submit_tag 'Send e-mail', class: 'btn btn-primary send-email pull-right', data: {disable_with: 'Please wait...'}