%div.span6.posts
  %h2
    Новые посты в блоге
  %div.bl_content
    %div.post
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'Post link', '#'
      %div.cont
        Post text about post post
    %div.post
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'Post link 1', '#'
      %div.cont
        Post text about post post 1
    %div.post
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'Post link 2', '#'
      %div.cont
        Post text about post post 2
    %div.post
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'Post link', '#'
      %div.cont
        Post text about post post
%div.span6.jobs
  %h2
    Вакансии:
  %div.bl_content
    %div.job
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'link to some job very very long text about job', '#'
      %div.resume.text-right
        %a.btn{:href => '#'} Отправить резюме
    %div.job
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'link to some job very very long text about job 2', '#'
      %div.resume.text-right
        %a.btn{:href => '#'} Отправить резюме
    %div.job
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'link to some job very very long text about job', '#'
      %div.resume.text-right
        %a.btn{:href => '#'} Отправить резюме
    %div.job
      %img{:src => '/icon-info.png'}
      %div.title
        = link_to 'link to some job very very long text about job', '#'
      %div.resume.text-right
        %a.btn{:href => '#'} Отправить резюме

/%h1 New posts
/    -unless @new_posts.nil?
/      -@new_posts.each do |new_post|
/        =new_post.title
/       %br
/%h1 New jobs
/-unless @new_jobs.nil?
/  -@new_jobs.each do |new_job|
/    =new_job.title
/    %br