.span6.posts
  %h2
    Новые посты в блоге
  .bl_content
    .post
      = image_tag('/icon-info.png')
      .title
        = link_to 'Post link', '#'
      .cont
        Post text about post post
    .post
      = image_tag('/icon-info.png')
      .title
        = link_to 'Post link 1', '#'
      .cont
        Post text about post post 1
    .post
      = image_tag('/icon-info.png')
      .title
        = link_to 'Post link 2', '#'
      .cont
        Post text about post post 2
    .post
      = image_tag('/icon-info.png')
      .title
        = link_to 'Post link', '#'
      .cont
        Post text about post post
.span6.jobs
  %h2
    Вакансии:
  .bl_content
    .job
      = image_tag('/icon-info.png')
      .title
        = link_to 'link to some job very very long text about job', '#'
      .resume.text-right
        = link_to 'Отправить резюме', '#', :class => 'btn'
    .job
      = image_tag('/icon-info.png')
      .title
        = link_to 'link to some job very very long text about job 2', '#'
      .resume.text-right
        = link_to 'Отправить резюме', '#', :class => 'btn'
    .job
      = image_tag('/icon-info.png')
      .title
        = link_to 'link to some job very very long text about job', '#'
      .resume.text-right
        = link_to 'Отправить резюме', '#', :class => 'btn'
    .job
      = image_tag('/icon-info.png')
      .title
        = link_to 'link to some job very very long text about job', '#'
      .resume.text-right
        = link_to 'Отправить резюме', '#', :class => 'btn'
