.client_testimonials_block
  %h2= "Client Testimonials"
  .testimonials
    - @testimonials.each do |testimonial|
      .testimonial
        .testimonial_title
          = testimonial.author_position.capitalize unless testimonial.author_position.blank?
          = testimonial.author_name.titleize
          %span.project
            = "(#{testimonial.project.name})"
        .testimonial_text
          = testimonial.comment_text