.odd
  .row
    .span6
      %h2
        = t '.our_command'
      %p
        = t '.our_description'
    .span6.text-right
      %h2.bl_title
        = t '.our_skills'
      .skills
        - @tech.each do |tc|
          .skill
            = tc.name
      .more.text-right
        = link_to(t('.read_about_skills'), '/company')
.even
  .row
    .bl_title.span12
      %h2
        = t '.project_work'
    .bl_content.row
      - @some_projects.each do |project|
        .portfolio_item.span3.text-center
          .pic
            - if project.upload_files.first.nil?
              = image_tag('/icon-info.png')
            - else
              = image_tag(project.upload_files.first.filename.to_s)
          .portf_title
            = link_to project.name, work_path(project)
    .row.text-right
      = link_to(t('.read_about_projects'), '/work')
.odd
  .row
    = render :partial => 'shared/post_jobs'



