= render partial: 'welcome_section'
= render partial: 'what_we_do_section'
= render partial: 'why_sbs'
= render partial: 'portfolio_section'
= render partial: 'team_section'
=# render partial: 'job_section'
= render partial: 'contact_section'