.odd
  .row
    .span6
      %h2
        О нас и нашей компании
      %p
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor  in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,    sunt in culpa qui officia deserunt mollit anim id est laborum."
    .span6.text-right
      %h2.bl_title
        наши скиллы и опыт работы
      .skills
        - unless @tech.nil?
          - @tech.each do |tc|
            .skill
              - unless tc.upload_files.first.nil?
                = image_tag tc.upload_files.first.filename.to_s, title: tc.name, alt: tc.name, width: 50, height: 50
              - else
                = image_tag '/icon-info.png', width: 50, height: 50, alt: tc.name, title: tc.name
      .more.text-right
        = link_to 'read more about our skills', '/company'
.even
  .row
    .bl_title.span12
      %h2
        Проэкты над которыми работали\Портфолио
    .bl_content.row
      - unless @some_projects.nil?
        - @some_projects.each do |project|
          .portfolio_item.span3.text-center
            .pic
              - if project.upload_files.first.nil?
                = image_tag('/icon-info.png')
              - else
                = image_tag(project.upload_files.first.filename.to_s)
            .portf_title
              = link_to project.name, work_path(project)
    .row.text-right
      = link_to 'Read more about our projects', '/work'
.odd
  .row
    = render :partial => 'shared/post_jobs'



