%section#welcome.welcome_l-1
  .welcome_l-2{"data-0" => "background-position:0px 0px;", "data-100000" => "background-position:0px 50000px;"}
  .welcome_l-3{"data-0" => "background-position:0px 0px;", "data-100000" => "background-position:0px 10000px;"}
  .content_area
    %h1 welcome
    %h3 to
    .circle
      %img{alt: "", src: "assets/sbs_c.png "}
%section#What_we_do
  .content_area
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %h2= t '.our_skills'
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-39> Lorem ipsum
        dolor sit amet,
        %span.font_size-26 consectetur adipiscing
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p velit vel consectetur feugiat, eros mauris
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        luctus eros,
        %span.font_size-61 rutrum volutpa
        justo nulla sit amet est.
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p Donec ipsum nisl, egestas nec
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        turpis at, egestas luctus
        %span.font_size-32 lectus. Morbi
        %span.font_size-52 sit amet
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-70> ornare magna.
        Curabitur volutpat urna ac dui congue,
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        nec blandit augue semper. Nullam v
        %span.font_size-39 itae nunc massa. Sed
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        non velit
        %span.font_size-48 auctor lacus
        hendrerit tincidunt ut
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        consectetur purus. Nunc mi orci, congue eu,
        %span.font_size-59 dictum egestas
        arcu.
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-39> Lorem ipsum
        dolor sit amet,
        %span.font_size-26 consectetur adipiscing
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p velit vel consectetur feugiat, eros mauris
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        luctus eros,
        %span.font_size-61 rutrum volutpa
        justo nulla sit amet est.
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p Donec ipsum nisl, egestas nec

.col-lg-12
  .odd
    .row
      .col-lg-6
        %h2
          = t '.our_command'
        %p
          = t '.our_description'
      .row
        .col-lg-6.text-right
          %h2.bl_title
            = t '.our_skills'
          .skills.col-lg-12
            - @technologies.each do |technology|
              .skill
                - unless technology.upload_file.blank? || technology.upload_file.img_name.blank?
                  = image_tag technology.upload_file.img_name.url(:thumb), title: technology.name, alt: technology.name, width: 50
                - else
                  = image_tag 'no_image.gif', width: 50, alt: technology.name, title: technology.name
          .more.text-right
            = link_to(t('.read_about_skills'), company_index_path)
  .even
    .bl_title.col-lg-12
      %h2
        = t '.project_work'
    .bl_content.col-lg-12
      - @projects.each do |project|
        .portfolio_item.col-lg-3.text-center
          .pic
            - unless project.upload_files.blank?
              = image_tag(project.upload_files.sample.img_name.url(:thumb))
            - else
              = image_tag('no_image.gif')
          .portf_title
            = link_to project.name, project_path(project)
    .col-lg-12.text-right
      = link_to(t('.read_about_projects'), projects_path)
.col-lg-12
  .row
    .odd
      .row
        = render partial: 'shared/post_jobs'



