%section#welcome.welcome_l-1
  .welcome_l-2{"data-0" => "background-position:0px 0px;", "data-100000" => "background-position:0px 50000px;"}
  .welcome_l-3{"data-0" => "background-position:0px 0px;", "data-100000" => "background-position:0px 10000px;"}
  .content_area
    %h1 welcome
    %h3 to
    .circle
      = image_tag 'sbs_c.png'
%section#What_we_do
  .content_area
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %h2= t '.our_command'
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-39> We're young and energetic team
        %span.font_size-26 within a web development company
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        of any complexity
        %span.font_size-51 delivering web development services
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        to clients
        %span.font_size-61  worldwide.
        We strive to use
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p the latest technologies
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        in the area of web development,
        %span.font_size-32 and produce clean and robust code.
        %span.font_size-52 Our team develops
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-70> projects using mainly the Ruby-on-Rails Framework.
        Being a rather young team,
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        we're flexible and
        %span.font_size-39 and always search a best possible solution
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        for each project we work.
        %span.font_size-48 Our goal
        is to make
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        our clients
        %span.font_size-59 happy
        arcu.
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-39> with a
        high quality
        %span.font_size-26 product.
%section#Portfolio.Portfolio_l-1
  .Portfolio_l-2{"data-0" => "background-position:50% -1000px;", "data-100000" => "background-position:50% 50000px;"}
  .content_area
    .row
      %h2= t '.project_work'
    .portfolio_item_list
      - @projects.each do |project|
        .portfolio_item
          = link_to project.url, project.url, target: '_blank', class: 'site_link'
          = link_to project_load_path(project.id), class: 'img_block manual-ajax', rel: 'modal:open' do
            %span.bg_place_holder
            %span.bg_place_holder_plus
            - unless project.upload_files.blank?
              = image_tag(project.upload_files.sample.img_name.url(:thumb), width: 167, height: 110)
            - else
              = image_tag('no_image.gif')
%section#job
  .content_area
    %h2.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-80-top" => "opacity:0.1;transform: scale(0.9)"} Vacancy
    %div
      %p.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tristique mauris, sit amet dapibus sapien. In sit
        amet elit commodo sem tempor ullamcorper. Etiam quis massa semper, lacinia ligula a, molestie dui. Morbi eget massa dolor.
        Duis vel arcu ac metus pulvinar ultrices a in risus. Vestibulum facilisis porttitor augue vitae dignissim. Integer quis
        eleifend sapien. Nullam odio massa, varius eget turpis non, hendrerit placerat purus. Duis sit amet luctus lectus, eu suscipit elit.
      %p.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tristique mauris, sit amet dapibus sapien. In sit
        amet elit commodo sem tempor ullamcorper. Etiam quis massa semper, lacinia ligula a, molestie dui. Morbi eget massa dolor.
        Duis vel arcu ac metus pulvinar ultrices a in risus. Vestibulum facilisis porttitor augue vitae dignissim. Integer quis
        eleifend sapien. Nullam odio massa, varius eget turpis non, hendrerit placerat purus. Duis sit amet luctus lectus, eu suscipit elit.
      %ul.job_WN_list
        %li.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} You can eat
        %li.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} you can sleep
        %li.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} we will pay some money
        %li.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} you dont have to pay for electricity
        %li.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} you can go home sometimes
        %li.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} we will give a monitor
      %h3.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"} Now available such vacancies
      - unless @jobs.blank?
        %ul.vacancies_list_wrapp
          - @jobs.each do |job|
            %li
              %strong.row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
                = job.title
              .knowledge_list_wrapp.row{"data-80-top" => "opacity:0.1;transform: scale(0.9)", "data-bottom" => "opacity:0.1;transform: scale(0.9)"}
                %p!= job.description
                %h5 Required knowledge:
                %ul
                  - job.technologies.each do |tech|
                    %li
                      = image_tag tech.upload_file.img_name.url(:thumb), width: 50, alt: 'image', title: tech.name
                      %p= tech.description
    %h2.row.job_interest{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-80-top" => "opacity:0.1;transform: scale(0.9)"}
      you
      %br
      interested?
    = link_to 'send us your resume!', new_resume_path, class: 'send_resume', rel: 'modal:open'
%section#Contacts.Contacts_l-1
  .Contacts_l-3
  .content_area
    %h2= t '.contact_us'
    .contact_form
      = form_for @message, url: root_path, html: {class: 'web-form', multipart: true} do |form|
        - if @message.errors.any?
          .ror-team-errors
            %h6
              = pluralize(@message.errors.count, 'error')
              prohibited this message from being sent:
            %ul
              - @message.errors.full_messages.each do |msg|
                %li= msg
        %h4 We will respond as soon as we can
        .clearfix
          .left_side
            = form.label :name do
              Name
              = form.text_field(:name, required: "")
            = form.label :email do
              Email
              = form.email_field(:email, required: "")
          .right_side
            = form.label :text do
              Message
              = form.text_area(:text, required: "")
        = submit_tag 'Submit'
      .copyRight
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu sapien id sapien sollicitudin ultricies. Nunc vel ante
          sollicitudin turpis auctor posuere. Quisque id dolor lorem. Cras at ante nulla. Vivamus convallis elementum nisi, sed tempor
          quam luctus mollis. Duis vitae felis eget neque tristique pharetra. Sed laoreet neque sit amet lobortis suscipit. Proin mi
          augue, tempus porta sapien nec,
          lobortis malesuada massa. Nunc nec nunc mollis, pulvinar ligula et, interdum lacus. Nunc porttitor augue ac dolor tempor aliquet.
          Integer tincidunt commodo libero, vitae tincidunt lectus feugiat eget. Sed congue sit amet augue id aliquet. Fusce egestas odio
          vel sem fringilla consectetur. Ut non ante quis ante consectetur molestie. Vestibulum elit justo, volutpat non laoreet id,
          pellentesque id massa. Vivamus et eleifend est.
        %span
          = "sbs-team #{Time.now.strftime('%Y')}"