%h1
  Live Chat
%div
  = form_for @live_chat, url: {action: :create} do |f|
    = f.label 'You can send your questions to one of next managers:'
    - admins_for_select = @admins.map { |admin| [admin.first_name+" "+admin.last_name, admin.id] }
    = f.select :admin_id, admins_for_select, {}, {:class => "form-control"}
    .contact-info.form-group
      = f.label 'Your name*:'
      = f.text_field :guest_name, :class => 'form-control'
    .chat-msg.form-group
      = f.label 'Your message*:'
      = text_area_tag :message, '', {:class => 'form-control', rows: 5}
    = f.submit 'Send Message', :class => 'btn btn-primary pull-right', data: { disable_with: 'Please wait...' }