%h1
  LiveChat
%div
  = form_for @live_chat, url: {action: :create} do |f|
    You can send your questions to one of next managers:
    - admins_for_select = @admins.map { |admin| [admin.first_name+" "+admin.last_name, admin.id] }
    = f.select :admin_id, admins_for_select
    .contact-info
      Your name*:
      = f.text_field :guest_name
    .chat-msg
      Your message*:
      = text_area_tag :message
    = f.submit 'Send Message', data: { disable_with: 'Please wait...' }
