%div
  Online chat with:
  = "#{@live_chat.admin_user.first_name} #{@live_chat.admin_user.last_name}"
  #chat-history
    #chat
      - @live_chat.chat_messages.each do |msg|
        - if msg.is_admin
          .msg.msg-admin
            != "(#{msg.created_at.strftime('%d-%m-%Y')})|<b><U>#{@live_chat.admin_user.first_name} #{@live_chat.admin_user.last_name}</U></b>: #{msg.body}"
        - else
          .msg.msg-user
            != "(#{msg.created_at.strftime('%d-%m-%Y')})|<b><U>#{@live_chat.guest_name}</U></b>: #{msg.body}"
  .chat-msg
    = form_tag(live_chats_chat_path(live_chat_id: @live_chat.id), method: "post", remote: true) do
      Your message*:
      = text_area_tag :message
      = submit_tag 'Send Message', id: "submit"
