.row.team-members
  .col-lg-12
    .col-lg-6.team-members
      - @team.each do |member|
        .team-member
          - unless member.upload_file.blank? || member.upload_file.img_name.blank?
            = image_tag member.upload_file.img_name.url(:thumb), :class => 'img-circle', :width => '150'
          - else
            = image_tag 'no_image.gif', :width => 150
          .member-name
            %span
            %p.lead
              = link_to "#{member.first_name} #{member.last_name}", team_path(member)
            %p
              %span
                = link_to "#{member.role}", team_index_path(:role => member.role), :class => 'btn btn-primary btn-small'
          .about
            %p
              = truncate(member.about.capitalize, :length => 50)
      = paginate @team
    .col-lg-6
      - team_photo_count = @team_photo.upload_files.count
      - unless @team_photo.blank?
        %h3
          = @team_photo.title
        - unless @team_photo.upload_files.blank? || @team_photo.upload_files.first.img_name.blank?
          .carousel.slide{:id => "myCarousel#{@team_photo.id}"}
            - if team_photo_count > 1
              %ol.carousel-indicators
                - team_photo_count.times do |i|
                  %li{'data-slide-to' => "#{i}", 'data-target' => "#myCarousel#{@team_photo.id}", :class => "#{'active' if i == 0}" }
            .carousel-inner
              - @team_photo.upload_files.each do |file|
                - if file.img_name == @team_photo.upload_files.first.img_name
                  .item.active
                    = image_tag file.img_name.url
                - else
                  .item
                    = image_tag file.img_name.url
            - if @team_photo.upload_files.count > 1
              = link_to "#myCarousel#{@team_photo.id}", 'data-slide' => 'prev', :class => 'carousel-control left' do
                %span.icon-prev
              = link_to "#myCarousel#{@team_photo.id}", 'data-slide' => 'next', :class => 'carousel-control right' do
                %span.icon-next
      .about-team
        %h3
          = t '.our_command'
        .text
          %p
            = t '.about'
        .g-map
          = image_tag '/g-map-eng.png'
.row
  = render :partial => 'shared/post_jobs'