.row.team-members
  .span6.team-members
    - @team.each do |member|
      .team-member
        - unless member.upload_files.blank? || member.upload_files.first.img_name.blank?
          = image_tag member.upload_files.first.img_name.url(:thumb), :class => 'img-circle'
        - else
          = image_tag 'missing.png'
        .member-name
          %span
          %p.lead
            = link_to "#{member.first_name} #{member.last_name}", team_path(member)
          %p
            %span
              = link_to "#{member.role}", team_index_path(:role => member.role), :class => 'btn'
        .about
          %p
            = truncate(member.about.capitalize, :length => 50)
      %hr
    = paginate @team
  .span6
    %h3
      = @team_photo.title
    - unless @team_photo.upload_files.blank? || @team_photo.upload_files.first.img_name.blank?
      .carousel.slide{:id => "myCarousel#{@team_photo.id}"}
        %ol.carousel-indicators
          - (@team_photo.upload_files.count).times do |i|
            %li{'data-slide-to' => "#{i}", 'data-target' => "#myCarousel#{@team_photo.id}", :class => "#{'active' if i == 0}" }
        .carousel-inner
          - @team_photo.upload_files.each do |file|
            - if file.img_name == @team_photo.upload_files.first.img_name
              .item.active
                = image_tag file.img_name.url
            - else
              .item
                = image_tag file.img_name.url
        = link_to '‹', "#myCarousel#{@team_photo.id}", 'data-slide' => 'prev', :class => 'carousel-control left'
        = link_to '›', "#myCarousel#{@team_photo.id}", 'data-slide' => 'next', :class => 'carousel-control right'
    .about-team
      %h3
        = t '.our_command'
      .text
        %p
          = t '.about'
      .g-map
        %script{:charset => 'utf-8', :src => '//api-maps.yandex.ru/services/constructor/1.0/js/?sid=AfRHYGTwdoGSTYMmPPMXwUQgkFqvcfn_&width=570&height=350', :type => 'text/javascript'}
.row
  = render :partial => 'shared/post_jobs'