.team-member
  - unless @team.upload_file.blank? || @team.upload_file.img_name.blank?
    = image_tag @team.upload_file.img_name.url, :class => 'img-polaroid', :width => '600'
  - else
    = image_tag 'missing.png'
  .member-name
    %h2.lead
      = "#{@team.first_name} #{@team.last_name}"
      = @team.role
  .about
    %p
      = @team.about
.fullteam
  - @fullteam.each do |team_member|
    - unless @team.id == team_member.id
      = link_to team_path(team_member), :id => "pic#{team_member.id}" do
        - unless team_member.upload_file.blank? || team_member.upload_file.img_name.blank?
          = image_tag team_member.upload_file.img_name, :class => 'img-rounded', :width => 100
        - else
          = image_tag 'missing.png', :width => 70
.span6
  = link_to 'Back', team_index_path
.row
  = render :partial => 'shared/post_jobs'