!!!
%html
  %head
    %title RorTeam Admin Chat
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin_chat', 'data-turbolinks-track' => true
    -#= include_gon(:namespace => 'RorTeam', :camel_case => true)
    = csrf_meta_tags
  %body
    %h1
      LiveChat with users
    %div
      = hidden_field_tag :current_admin_email, @current_admin_user.email
      - if @live_chat.nil?
        = label_tag "No active chat"
      - else
        = label_tag "Guest: #{@live_chat.guest_email}"
    #chat-history
      - unless @messages.nil?
        - @messages.each do |msg|
          .msg
            = msg.body
        .chat-msg
          = form_tag(live_chats_chat_path, method: "post") do
            = label_tag  'Your message*:'
            = text_area_tag :message
            = hidden_field_tag :live_chat_id, @live_chat.id
            = submit_tag 'Send Message'