!!!
%html
  %head
    %title RorTeam Admin Chat
    = favicon_link_tag '/favicon.ico', id: 'admin_chat_tab_icon'
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'live_chats'
    = javascript_include_tag 'admin_chat'
    = include_gon(namespace: 'RorTeam', camel_case: true)
    = csrf_meta_tags
  %body
    - if @live_chat.blank? || @live_chat.id.blank?
      No active chat
    - else
      .row
        .col-lg-10.col-offset-1.form-group#admin-chat
          = button_to_function 'Go offline', "managerGoOffline();", class: 'btn btn-danger pull-right'
          %h1
            LiveChat with users
          %div
            Client nickname:
            %strong
              = @live_chat.guest_name
          #chat-history.panel
            #chat
              - unless @messages.nil?
                - @messages.each do |msg|
                  - if msg.is_admin
                    .msg.msg-admin
                      = "(#{msg.created_at.getlocal.strftime('%T')}) |"
                      %b
                        %U
                          = @live_chat.admin_user.first_name + ' ' +@live_chat.admin_user.last_name
                      = ": #{msg.body}"
                  - else
                    .msg.msg-user
                      = "(#{msg.created_at.getlocal.strftime('%T')}) |"
                      %b
                        %U
                          = @live_chat.guest_name
                      = ": #{msg.body}"
          .chat-msg
            = form_tag(admin_chat_send_msg_path(live_chat_id: @live_chat.id), method: 'post', remote: true, id: 'new_live_chat') do
              Your message*:
              = text_area_tag :message, nil, class: 'form-control', rows: 3
              %br
              = submit_tag 'Send Message', class: 'btn btn-primary pull-right chat-send-msg-btn'
          %div
            = link_to 'close chat', admin_chat_close_path, method: :post