.row.our-skills
  .span12
    %h1
      = t '.our_skills'
    .row
      - @technology_categories.each do |tech_category|
        .span2
          %h4.text-center
            = tech_category.name
          - tech_category.technologies.each do |technology|
            .span0
              - unless technology.upload_files.first.nil?
                = image_tag technology.upload_files.first.img_name.url, title: technology.name, alt: technology.name, width: 50, height: 50
              - else
                = image_tag '/icon-info.png', width: 50, height: 50, alt: technology.name, title: technology.name
.row.experience
  .span4
    = image_tag('/icon-info.png')
    %span
      = t '.development_system'
  .span4
    = image_tag('/icon-info.png')
    %span
      = t '.command_development'
  .span4
    = image_tag('/icon-info.png')
    %span
      = t '.feedback_odesk'
.row.services
  .span12
    %h3
      = t '.service_prode'
  - @services.each do |service|
    .span3.text-center
      = image_tag service.upload_files.sample.img_name.url(:thumb_sm), title: service.name, alt: service.name, width: 150, height: 150
      %h4
        = service.name
.row
  = render :partial => 'shared/post_jobs'


