.our-skills.col-lg-12
  %h1
    = t '.our_skills'
  .row
    - @technology_categories.each do |tech_category|
      .col-lg-2
        %h4.text-center
          = tech_category.name
        - tech_category.technologies.each do |technology|
          .span0
            - unless technology.upload_file.blank? || technology.upload_file.img_name.blank?
              = image_tag technology.upload_file.img_name.url(:thumb), title: technology.name, alt: technology.name, width: 50
            - else
              = image_tag 'no_image.gif', width: 50, alt: technology.name, title: technology.name
.row.experience
  .col-lg-12.company_plus
    .col-lg-4
      .our_pluses
        = image_tag '/various_systems.jpg'
      .our_pluses_descr
        = t '.development_system'
    .col-lg-4
      .our_pluses
        = image_tag '/experienced_team.jpg'
      .our_pluses_descr
        = t '.command_development'
    .col-lg-4
      .our_pluses
        = image_tag '/odesk.jpg', :title => 'hihi'
      .our_pluses_descr
        = t '.feedback_odesk'
.services.col-lg-12
  %h3
    = t '.service_prode'
  .row
    - @services.each do |service|
      .col-lg-3.text-center
        - unless service.upload_file.blank? || service.upload_file.img_name.blank?
          = image_tag service.upload_file.img_name.url(:thumb), title: service.name, alt: service.name, :height => 200
        - else
          = image_tag 'no_image.gif', :width => 200
        %h4
          = service.name
.row
  = render :partial => 'shared/post_jobs'


