.block.text-center.rss
  = link_to t('.rss_feed'),  posts_path(:rss), :class => 'btn btn-primary'
.block.search.text-center
  %form.form-search{action: posts_path}
    %input.search-query.form-control{type: 'text', placeholder: t('.search'), name: "search"}
.block.categories
  - if @categories.blank?
    %h3
      = t '.any_category_not_exists_yet'
  - else
    %h3
      = t '.categories'
    %ul.unstyled
      - @categories.each do |category|
        - unless category.posts.blank?
          %li
            = link_to category.name, posts_path(:category_name=>category.name)
.block.contact_us
  = t '.ror_team_info'
  = link_to t('.see_our_projects'), projects_path
  %h4
    = t '.help_you'
  .text-center
    = link_to t('.contact_us'), contact_index_path, :class => 'btn btn-default'
.block.tags
  %h3
    - if @tags.blank?
      = t '.tags_are_not_added'
    - else
      = t '.tags'
  .cloud
    - @tags.each do |tag|
      - tag_size = 4 * tag.count / relev_tags + 1
      = link_to tag.name , posts_path(:tag_name => tag.name), :class => "size#{tag_size}"