#sidebar
  %h3 Search
  %form.form-search{action: posts_path}
    %input.search-query.form-control{type: 'text', placeholder: t('.search'), name: 'search'}
  %h3 Categories
  %ul
    - @categories.each do |category|
      - category_path = posts_path(category_name: category.name)
      - unless category.posts.blank?
        - if request.fullpath == category_path
          %li.active
            = link_to category.name, category_path
        - else
          %li
            = link_to category.name, category_path
  %h3
    - if @tags.blank?
      = t '.tags_are_not_added'
    - else
      = t '.tags'
  .cloud
    %canvas{width: '200', height: '300', id: 'myCanvas'}
      %div#tagcloud
        - unless @tags.nil?
          - tag_cloud(@tags, %w(cloud-tag1 cloud-tag2 cloud-tag3 cloud-tag4 cloud-tag5)) do |tag, css_class|
            = link_to tag.name , posts_path(tag_name: tag.name), class: css_class
  %h3 Archives
  %ul
    %li
      %a{:href => "http://web-mastery.info/"} March 2007
    %li
      %a{:href => "http://web-mastery.info/"} February 2007
    %li
      %a{:href => "http://web-mastery.info/"} January 2007
    %li
      %a{:href => "http://web-mastery.info/"} December 2006