.block.text-center.rss
  = link_to t('.rss_feed'),  posts_path(:rss), :class => 'btn btn-primary'
.block.search.text-center
  %form.form-search{action: posts_path}
    %input.search-query.form-control{type: 'text', placeholder: t('.search'), name: "search"}
.block.categories
  - if @categories.blank?
    %h3
      = t '.any_category_not_exists_yet'
  - else
    %h3
      = t '.categories'
    %ul.unstyled
      - @categories.each do |category|
        - unless category.posts.blank?
          %li
            = link_to category.name, posts_path(:category_name=>category.name)
.block.contact_us
  = t '.ror_team_info'
  = link_to t('.see_our_projects'), projects_path
  %h4
    = t '.help_you'
  .text-center
    = link_to t('.contact_us'), contact_index_path, :class => 'btn btn-primary'
.block.tags
  %h3
    - if @tags.blank?
      = t '.tags_are_not_added'
    - else
      = t '.tags'
  .cloud
    %canvas{:width => '365', :height => '300', :id => 'myCanvas'}
      %div#tagcloud
        - unless @tags.nil?
          - tag_cloud(@tags, %w(cloud-tag1 cloud-tag2 cloud-tag3 cloud-tag4 cloud-tag5)) do |tag, css_class|
            = link_to tag.name , posts_path(:tag_name => tag.name), :class => css_class