.block.text-center.rss
  = link_to 'RSS Feed',  posts_path(:rss), :class => 'btn'
.block.search.text-center
  %form.form-search
    %input.input-large.search-query{:type => 'text', placeholder: 'search', :name=>"search"}
.block.categories
  %h3
    Categories:
  %ul.unstyled
    - @category.each do |category|
      %li
        = link_to category.name, '#'
.block.contact_us
  %p
    RoR-Team это лучшее, что было в вашей жизни! Мы можем испортить любой ваш заказ, будь то починка кастрюли или движение отвертки.
    = link_to 'Убежать быстрее'
  %h4
    Мы усегда рады помось вам
  .btn.text-center
    = link_to 'Связаться с нами'
.block.tags
  %h3
    Tags:
  .cloud
    - @tags.each do |tag|
      - random = 1 + Random.rand(6)
      = link_to tag.name , '#', :class => "size#{random}"