%div.row
  %div.span8.posts.main_cont
    - @posts.each do |post|
      %div.post
        %div.post_left.text-center
          %div.img
            = link_to '', '#'
          = link_to "#{post.comments_count} Comments", post_path(post)
        %div.post_right
          %div.post-title
            = link_to post.title, post_path(post)
          %div.post_date
            %em
              = post.created_at
          %div.post-content
            = post.description
          %div.categories
            Category:
            %span
              =link_to 'Category 1', '#'
            %span
              =link_to 'Category 2', '#'
            %span
              =link_to 'Category 3', '#'
          %div.tags
            Tags:
            %span.btn
              = link_to 'Tag1', '#'
            %span.btn
              = link_to 'Tag2', '#'
  %div.span4.sidebar
    = render :partial => 'sidebar'

