.row
  .span8.posts.main_cont
    - @posts.each do |post|
      .post
        .post_left.text-center
          .img
            - unless post.upload_files.first.nil?
              = image_tag post.upload_files.first.filename.to_s
              = link_to '', '#'
          = link_to "#{post.comments_count} Comments", post_path(post)
        .post_right
          .post-title
            = link_to post.title, post_path(post)
          .post_date
            %em
              = post.created_at.strftime("%d %B %H:%M:%S")
          .post-content
            -# превью поста - первые 200 символов
            = post.description.html_safe[0..200]
            = "..." if post.description.html_safe.length > 200
          .categories
            Category:
            = post.categories.collect{|cat| link_to strip_links(cat.name), posts_path(:category_name=>cat.name) }.join(', ').html_safe
          .tags
            Tags:
            - post.tag_counts_on(:tags).each do |tag|
              = link_to tag.name, posts_path(:tag_name => tag.name), :class => 'btn'
  .span4.sidebar
    = render :partial => 'sidebar'
