.row
  .span8.posts.main_cont
    - @posts.each do |post|
      .post
        .post_left.text-center
          .img
            = link_to '', '#'
          = link_to "#{post.comments_count} Comments", post_path(post)
        .post_right
          .post-title
            = link_to post.title, post_path(post)
          .post_date
            %em
              = post.created_at.strftime("%d %B %H:%M:%S")
          .post-content
            = post.description
          .categories
            Category:
            = post.categories.collect{|cat| link_to strip_links(cat.name) }.join(', ').html_safe
          .tags
            Tags:
            - post.tag_counts_on(:tags).each do |tag|
              = link_to tag.name, '#', :class => 'btn'
  .span4.sidebar
    = render :partial => 'sidebar'

  # Loads the commenting system
  disqus_thread

  # Sets the inner html to the comment count for any links on the page that
  # have the anchor "disqus_thread". For example, "View Comments" below would
  # be replaced by "1 comment" or "23 comments" etc.
  %a{:href => "http://localhost:3000/posts#disqus_thread"} View Comments
  -#%a{:href => "http://my.website/different-permalink#disqus_thread"} View Comments
  disqus_comment_counts
