.row
  .span8.posts.main_cont
    - @posts.each do |post|
      .post
        .post_left.text-center
          .img
            = link_to '', '#'
          = link_to "#{post.comments_count} Comments", post_path(post)
        .post_right
          .post-title
            = link_to post.title, post_path(post)
          .post_date
            %em
              = post.created_at.strftime("%d %B %H:%M:%S")
          .post-content
            = post.description
          .categories
            Category:
            %span
              = link_to 'Category 1', '#'
            %span
              = link_to 'Category 2', '#'
            %span
              = link_to 'Category 3', '#'
          .tags
            Tags:
            %span.btn
              = link_to 'Tag1', '#'
            %span.btn
              = link_to 'Tag2', '#'
  .span4.sidebar
    = render :partial => 'sidebar'

