.row
  .span8.posts.main_cont
    .post
      .post_top
        .post_img
          %img{:src => "/icon-info.png"}
        .post-title
          = @post.title
        .post_date
          = @post.created_at
          %span
            = link_to "#{@post.comments_count} Comments", post_path(@post)
      .post-content
        = @post.description
      .categories
        Category:
        = @post.categories.collect{|cat| link_to strip_links(cat.name) }.join(', ').html_safe
      .tags
        Tags:
        - @post.tag_counts_on(:tags).each do |tag|
          = link_to tag.name, '#', :class => 'btn'

    %comments
      comment
      - @comments.each do |comment|
        %br
        - @user.each do |user|
          - if comment.user_id == user.id
            %b
              %img.img-rounded{:src => user.image}
              = user.nickname
            %small
              = user.email
              %br
              = comment.description


    %h2
      New Comment
      = form_for [@post, Comment.new], :html => {:class => 'form-inline'} do |f|

        .input-append
          = f.text_area :description, style: 'height:39px; width:650px', :placeholder => 'Write your comment here'
          = f.submit 'Add comment', class: 'btn', style: 'height:50px;'
        %a.auth_provider{:href => "/auth/twitter"}
          = image_tag "authbuttons/twitter_32.png", :size => "32x32", :alt => "Twitter"
        %a.auth_provider{:href => "/auth/facebook"}
          = image_tag "authbuttons/facebook_32.png", :size => "32x32", :alt => "Facebook"

    .span4
      .recent_posts
        %h3
          Most recent posts
        %ul.unstyled
          %li
            = link_to 'first recent post', '#'
          %li
            = link_to 'second recent post', '#'
          %li
            = link_to 'third recent post', '#'
          %li
            = link_to 'fourth recent post', '#'
          %li
            = link_to 'fifth recent post', '#'
        %h5
          Want to get more of ror-team
        .btn.large
          = link_to 'RSS Feed', '#'
    .span3
      .popular_posts
        %h3
          Most popular posts
        %ul.unstyled
          %li
            = link_to 'first popular post', '#'
          %li
            = link_to 'second popular post', '#'
          %li
            = link_to 'third popular post', '#'
          %li
            = link_to 'fourth popular post', '#'
          %li
            = link_to 'fifth popular post', '#'
        %h5
          we're always ready to help
        .btn.large
          = link_to 'Contact Us', '#'
  .span4.sidebar
    = render :partial => 'sidebar'