-if user_signed_in? && !alert.blank?
  .info.message
    %h3 Вы уже вошли!
    %p
      = alert
.row
  .span8.posts.main_cont
    .post
      .post_top
        .post_img
          .img
            - if !@post.upload_file.blank?
              = image_tag @post.upload_file.img_name.url(:thumb)
            - else
              = image_tag 'missing.png'
        .post-title
          = @post.title
        .post_date
          = @post.created_at.strftime("%d %B %H:%M:%S")
        %span
          - if @post.comments_count==0
            = t('.post_hasnt_comments')
          - else
            = pluralize(@post.comments_count, t('.comment'))
      .post-content
        != @post.description
      - unless @post.categories.empty?
        .categories
          = t '.categories'
          != @post.categories.collect{|cat| link_to strip_links(cat.name), posts_path(:category_name=>cat.name) }.join(', ')
      - unless @post.tag_counts_on(:tags).empty?
        .tags
          = t '.tags'
          - @post.tag_counts_on(:tags).each do |tag|
            = link_to tag.name, posts_path(:tag_name => tag.name), :class => 'btn'
    .comments
      %a{name: 'comments'}
      - @comments.each do |comment|
        %b
          - if comment.commentable.respond_to? :image
            = image_tag comment.commentable.image, :class=>'img-rounded'
          - if comment.commentable.respond_to? :nickname
            = comment.commentable.nickname

        %small
          = comment.commentable.email
          %br
            %b
              = comment.description
      = paginate @comments
    %h2
      = t '.new_comment'
      = form_for [@post, Comment.new], :html => {:class => 'form-inline'} do |f|
        .input-append
          = f.text_area :description, style: 'height:39px; width:650px', :placeholder => t('.write_comment')
          = f.submit t('.add_comment'), class: 'btn', style: 'height:50px;'
          %br
          = link_to '/auth/twitter', :class => 'twitter' do
            = image_tag 'authbuttons/twitter_32.png', :size => '32x32', :alt => 'Twitter'
          = link_to '/auth/facebook', :class => 'facebook' do
            = image_tag 'authbuttons/facebook_32.png', :size => '32x32', :alt => 'Facebook'
          = link_to '/auth/vkontakte', :class => 'vkontakte' do
            = image_tag 'authbuttons/vk_32.png', :size => '32x32', :alt => 'Vkontakte'
    .span4
      .recent_posts
        %h3
          = t ('.most_recent_post')
        %ul.unstyled
          - @recent_posts.each do |post|
            %li
              = link_to post.title, special_post_path(post.created_at.strftime('%d_%m_%Y'), post)
        %h5
          = t ('.get_more')
        .btn.large
          = link_to t('.rss_feed'), posts_path(:rss)
    .span3
      .popular_posts
        %h3
          = t '.most_popular'
        %ul.unstyled
          - @popular_posts.each do |post|
            %li
              = link_to post.title, special_post_path(post.created_at.strftime('%d_%m_%Y'), post)
        %h5
          = t '.ready_help'
        .btn.large
          = link_to t('.contact_us'), contact_index_path
  .span4.sidebar
    = render :partial => 'sidebar'