%h1
  Live Chat
%div
  Your manager:
  != "<strong>#{@live_chat.admin_user.first_name} #{@live_chat.admin_user.last_name}</strong>"
  #chat-history.panel
    #chat
      - @live_chat.chat_messages.each do |msg|
        - if msg.is_admin
          .msg.msg-admin
            != "(#{msg.created_at.strftime('%d-%m-%Y')})|<b><U>#{@live_chat.admin_user.first_name} #{@live_chat.admin_user.last_name}</U></b>: #{msg.body}"
        - else
          .msg.msg-user
            != "(#{msg.created_at.strftime('%d-%m-%Y')})|<b><U>#{@live_chat.guest_name}</U></b>: #{msg.body}"
  .chat-msg
    = form_tag(contact_chat_path(live_chat_id: @live_chat.id), method: "post", remote: true) do
      Your message*:
      = text_area_tag :message, nil, class: 'form-control', rows: 4
      %br
      = submit_tag 'Send Message', id: "submit", :class => 'btn btn-primary pull-right'
