%h1
  Live Chat
%div
  - if @admins.blank?
    All managers are busy now. Try next time.
  -else
    = form_for @live_chat, url: {action: :create_chat}, remote: true do |f|
      Choose your manager:
      - admins_for_select = @admins.map { |admin| [admin.email, admin.id] }
      = f.select :admin_id, admins_for_select
      .contact-info
        = f.label 'Your name*:'
        = f.text_field :guest_name
      #chat-history
        #chat
      .chat-msg
        Your message*:
        = text_area_tag :message
        = f.submit 'add Message', id: "submit"
