.row
  .span6
    %h1
      Связь с нами:
    .web-form
      = form_for @message, :url => '/contact' do |form|
        .name
          = form.text_field(:name, 'placeholder' => 'Your name', 'class' => 'span4')
        .email-phone
          = form.email_field(:email, 'placeholder' => 'Your email', 'class' => 'span2')
          = form.text_field(:phone, 'placeholder' => 'Your phone', 'class' => 'span2')
        .text
          = form.text_area(:text, 'placeholder' => 'Your message', 'class' => 'span4' , 'rows' => '5')
        .options
          %h3
            Какой тип услуг Вам нужен?
          .icons
            .span2
              = form.check_box :service_type1
              = form.label :service_type1, 'Web'
            .span2
              = form.check_box :service_type2
              = form.label :service_type2, 'Mobile'
            .span2
              = form.check_box :service_type3
              = form.label :service_type3, 'Web+Mobile'
        .radios
          %h4
            Я заинтересован в:
          .choose
            = form.radio_button :work_type, '1'
            = form.label :work_type_1, 'Минимальный рабочий продукт'
            = form.radio_button :work_type, '2'
            = form.label :work_type_2, 'Создание с нуля полного проэкта'
            = form.radio_button :work_type, '3'
            = form.label :work_type_3 do
              Помощь с уже существующим проэктом
              %br
              Технический аудит
              %br
              Повышение производительности
              %br
              Переход на новые Rails
              %br
              Обслуживание
        .submit-form.text-right
          = submit_tag 'Отправить сообщение', :class => 'btn', data: { disable_with: 'Please wait...' }