.row
  .span6
    %h1
      Связь с нами:
    .web-form
      .name
        %input#input-name.span4{:placeholder => 'Your name', :type => 'text'}
      .email-phone
        %input#input-email.span2{:placeholder => 'Your email', :type => 'email'}
        %input#input-phone.span2{:placeholder => 'Your phone', :type => 'text'}
      .text
        %textarea.span4{:placeholder => 'Your message', :rows => '5'}
    .options
      %h3
        Какой тип услуг Вам нужен?
      .icons
        .span2
          = link_to('#', :class => 'img', :title => 'Web') do
            = image_tag('/icon-info.png')
        .span2
          = link_to('#', :class => 'img', :title => 'Mobile') do
            = image_tag('/icon-info.png')
        .span2
          = link_to('#', :class => 'img', :title => 'Web+Mobile') do
            = image_tag('/icon-info.png')
      .radios
        %h4
          Я заинтересован в:
        .choose
          %label.radio
            %input#optionsRadios1{:name => 'optionsRadios', :type => 'radio', :value => 'option1'}
            Минимальный рабочий продукт
          %label.radio
            %input#optionsRadios2{:name => 'optionsRadios', :type => 'radio', :value => 'option2'}
            Создание с нуля полного проэкта
          %label.radio
            %input#optionsRadios1{:name => 'optionsRadios', :type => 'radio', :value => 'option3'}
            Помощь с уже существующим проэктом
            %br
            Технический аудит
            %br
            Повышение производительности
            %br
            Архитектура
            %br
            Переход на новые Rails
            %br
            Обслуживание
        .submit-form.text-right
          %button.btn{:type => 'submit'} Отправить сообщение
  .span6
    %h1
      Связь с нами:
    .web-form
      = form_tag('/contact') do
        .name
          = text_field_tag('name', '', 'placeholder' => 'Your name', 'class' => 'span4')
        .email-phone
          = email_field_tag('email', '', 'placeholder' => 'Your email', 'class' => 'span2')
          = text_field_tag('phone', '', 'placeholder' => 'Your phone', 'class' => 'span2')
        .text
          = text_area_tag('text', '', 'placeholder' => 'Your message', 'class' => 'span4' , 'rows' => '5')
        .options
          %h3
            Какой тип услуг Вам нужен?
          .icons
            .span2
              = check_box_tag('service_type', 'Web', false)
              = label_tag('web', 'Web')
            .span2
              = check_box_tag('service_type', 'Mobile', false)
              = label_tag('mobile', 'Mobile')
            .span2
              = check_box_tag('service_type', 'Web+Mobile', false)
              = label_tag('web_mobile', 'Web+Mobile')
        .radios
          %h4
            Я заинтересован в:
          .choose
            = label_tag('radio', 'class' => 'radio') do
              = radio_button_tag('work_type', 'Минимальный рабочий продукт', false)
              Минимальный рабочий продукт
            = label_tag('radio', 'class' => 'radio') do
              = radio_button_tag('work_type', 'Создание с нуля полного проэкта', false)
              Создание с нуля полного проэкта
            = label_tag('radio', 'class' => 'radio') do
              = radio_button_tag('work_type', 'Помощь с уже существующим проэктом', false)
              Помощь с уже существующим проэктом
              %br
              Технический аудит
              %br
              Повышение производительности
              %br
              Архитектура
              %br
              Переход на новые Rails
              %br
              Обслуживание
          .submit-form.text-right
            = submit_tag 'Отправить сообщение', :class => 'btn', data: { disable_with: 'Please wait...' }