= content_for :head_included_files do
  = include_gon
  = javascript_include_tag 'contact'
.row
  .col-lg-6
    %h1
      = t '.contact_us'
    .web-form.row
      = form_for @message, :url => contact_index_path, :html => {:class => 'web-form', :multipart => true} do |form|
        - if @message.errors.any?
          .ror-team-errors
            %h6
              = pluralize(@message.errors.count, 'error')
              prohibited this message from being sent:
            %ul
              - @message.errors.full_messages.each do |msg|
                %li= msg
        .name.col-lg-12.form-group
          = form.text_field(:name, 'placeholder' => 'Your name*', 'class' => 'form-control')
        .email.col-lg-12.form-group
          = form.email_field(:email, 'placeholder' => 'Your email*', 'class' => 'form-control')
        .phone.col-lg-12.form-group
          = form.telephone_field(:phone, 'placeholder' => 'Your phone', 'class' => 'form-control')
        .text.col-lg-12.form-group
          = form.text_area(:text, 'placeholder' => 'Your message', 'class' => 'form-control' , 'rows' => '5')
        .options.col-lg-12.form-group
          %h3
            What kind of services do you need?
          .icons.row.radio
            - @services.each do |service|
              .col-lg-3.text-center
                %label
                  - unless service.upload_file.blank? || service.upload_file.img_name.blank?
                    = image_tag service.upload_file.img_name.url, title: service.name, alt: service.name, width: 120
                  - else
                    = image_tag 'missing.png', :width => 120
                  = form.radio_button :service_type, service.name
                  = service.name
        .radio.col-lg-12
          %h4
            Im interested in?
          .choose
            %label.col-lg-12
              = form.radio_button :work_type, 'Minimum work project'
              = 'Minimum work project'
            %label.col-lg-12
              = form.radio_button :work_type, 'Work project from the beginning'
              = 'Work project from the beginning'
            %label.col-lg-12
              = form.radio_button :work_type, 'Help with existing project'
              = 'Help with existing project'
            %label.col-lg-12
              = form.radio_button :work_type, 'Technical audit'
              = 'Technical audit'
            %label.col-lg-12
              = form.radio_button :work_type, 'Increase in productivity'
              = 'Increase in productivity'
            %label.col-lg-12
              = form.radio_button :work_type, 'Update to new Rails'
              = 'Update to new Rails'
            %label.col-lg-12
              = form.radio_button :work_type, 'Service'
              = 'Service'
        .submit-form.text-right
          = submit_tag 'Send Message', :class => 'btn btn-primary', data: { disable_with: 'Please wait...' }
  .span6
    - if  @live_chat.id.blank?
      = render partial: 'contact/new_chat'
    - else
      = render partial: 'contact/chat'
