!!!
%html
  %head
    = favicon_link_tag '/favicon.ico'
    %title RorTeam
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gon(namespace: 'RorTeam', camel_case: true)
    = csrf_meta_tags
  %body
    - if session[:chat_id] && controller.controller_name != 'contact'
      = render partial: 'shared/live_chat'
    %section#nav
      /[if lt IE 9]
      .inner_wrapp
        %a.top_nav_logo.clearfix{"data-rel" => "welcome", href: "#"}
          = image_tag 'sbs_c_small.png', width: 58, height: 58
        %nav.clearfix
          %ul
            %li
              %a{"data-rel" => "What_we_do", href: "#", title: "Next Section"} What we do
            %li
              %a{"data-rel" => "Portfolio", href: "#", title: "Next Section"} Portfolio
            %li
              %a{"data-rel" => "job", href: "#", title: "Next Section"} vacancy
            %li
              %a{"data-rel" => "Contacts", href: "#", title: "Next Section"} Contacts
            %li
              = link_to 'Blog', posts_path, target: '_blank'
    -#%div
    -#  - if flash[:error]
    -#    %p.alert.alert-error
    -#      = flash.now[:error]
    -#  - if flash[:notice]
    -#    %p.alert.alert-success
    -#      = flash.now[:notice]
    -#  - if flash[:alert]
    -#    %p.alert.alert-info
    -#      = flash.now[:alert]
    = yield



