!!!
%html
  %head
    %title RorTeam
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = include_gon(:namespace => 'RorTeam', :camel_case => true)
    = csrf_meta_tags
  %body
    %div.container
      %header
        %div.logo
          %h1
            Ror-team
        %div.offset2
        %ul.main-menu
          %li
            =link_to "Home", '#', :class => 'active'
          %li
            =link_to "Blog", '#'
          %li
            =link_to "Community", '#'
          %li
            =link_to "Team", '#'
          %li
            =link_to "Products", '#'
          %li
            =link_to "Services", '#'
          %li
            =link_to "About", '#'
        %div.clear

      %div#content.offset2
        = yield
      %footer#footer
        %div.contact-us.row
          %div.span6
            %h2 Need to contact us?
            %h3 You can join us in our social media space.
          %div.span6
            %ul.soc-menu
              %li
                =link_to "Google+", '#', :class => 'active'
              %li
                =link_to "Fecebook", '#'
              %li
                =link_to "Twitter", '#'
          %div.clear
        %div.contact-link.row
          %div.span4
            =link_to "Fallow us on facebook", '#'
          %div.span4
            =link_to "Fallow us on twitter", '#'
          %div.span4
            =link_to "Fallow us by email", '#'