!!!
%html
  %head
    = favicon_link_tag '/favicon.ico'
    %title RorTeam
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gon(namespace: 'RorTeam', camel_case: true)
    = csrf_meta_tags
  %body
    - if session[:chat_id] && controller.controller_name != 'contact'
      = render partial: 'shared/live_chat'
    %section#nav
      /[if lt IE 9]
      .inner_wrapp
        = link_to root_path, class: 'top_nav_logo clearfix', data: {rel: 'welcome'} do
          = image_tag 'sbs_c_small.png', width: 58, height: 58
        %nav.clearfix
          %ul
            %li
              = link_to 'About us', '#', title: 'Next Section', data: {rel: 'What_we_do'}
            %li
              = link_to 'Portfolio', '#', title: 'Next Section', data: {rel: 'Portfolio'}
            %li
              = link_to 'Vacancy', '#', title: 'Next Section', data: {rel: 'job'}
            %li
              = link_to 'Contacts', '#', title: 'Next Section', data: {rel: 'Contacts'}
    -#%div
    -#  - if flash[:error]
    -#    %p.alert.alert-error
    -#      = flash.now[:error]
    -#  - if flash[:notice]
    -#    %p.alert.alert-success
    -#      = flash.now[:notice]
    -#  - if flash[:alert]
    -#    %p.alert.alert-info
    -#      = flash.now[:alert]
    = yield



