!!!
%html
  %head
    %title RorTeam
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = include_gon(:namespace => 'RorTeam', :camel_case => true)
    = csrf_meta_tags
  %body
    %div.container
      %header

        %div.row
          %div.span2
            %div.logo
              =link_to 'RoR-Team', '#'
          %nav
            %ul.inline
              %li
                =link_to 'Home', '#', :class => 'active'
              %li
                =link_to 'Blog', '#'
              %li
                =link_to 'Community', '#'
              %li
                =link_to 'Team', '#'
              %li
                =link_to 'Products', '#'
              %li
                =link_to 'Services', '#'
              %li
                =link_to 'About', '#'
          %div.chat.span1
            %div.btn
              =link_to 'Live Chat', '#'
      %div#content

        = yield
      %footer#footer
        %div.contact-us.row
          %div.span4
            %p.lead
              Необходимо связаться с нами?
        %div.row
          %div.span6

            %small
              вы можете присоединиться к нашей медиа соц. сети
          %div.span6.text-right
            %small
              Или связаться с нами через email или skype
        %div.row.soc_net
          %div.span4
            %p.lead
              %i.icon-th-large
              = link_to 'Follow us on twitter', '#'
          %div.span4
            %p.lead
              %i.icon-th
              = link_to 'Follow us on Facebook', '#'
          %div.span4
            %p.lead
              %i.icon-envelope
              = link_to 'Contact us by email', '#'
              %br
                = link_to 'email ror_team@gmail.com', 'mailto:ror_team@gmail.com'
        %div.row.text-center
          © 2012-2013 RoR-Team
        %div.row.bottom
          %div.span12
