!!!
%html
  %head
    = favicon_link_tag
    %title RorTeam
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gon(:namespace => 'RorTeam', :camel_case => true)
    = yield :head_included_files
    = csrf_meta_tags
  %body
    .container
      - if current_user
        =  "Welcome, #{current_user.try(:first_name) || 'User' }"
        = link_to 'Logout', auth_destroy_path
      .navbar.navbar-inverse.navbar-fixed-top
        = link_to(t('.ror_team'), root_path, :class => 'navbar-brand')
        %ul.nav.navbar-nav
          = nav_link_to(t('.company'), company_index_path, :controller => 'company')
          = nav_link_to(t('.work'), projects_path, :controller => 'projects')
          = nav_link_to(t('.team'), team_index_path, :controller => 'team')
          = nav_link_to(t('.careers'), jobs_path, :controller => 'jobs')
          = nav_link_to(t('.contact'), contact_index_path, :controller => 'contact')
          = nav_link_to(t('.blog'), posts_path, :controller => 'posts')
        .pull-right.live-chat
          = link_to t('.live_chat'), new_live_chat_path, :class => 'btn btn-warning', :onclick=>"window.open(this.href,'RoR-Team Live Chat', 'height=500, width=400');return false;"
      .content.row
        .col-lg-12
          - if flash[:error]
            %p.error
              = flash.now[:error]
          - if flash[:notice]
            %p.alert.alert-success
              = flash.now[:notice]
          - if flash[:alert]
            %p.alert.alert-error
              = flash.now[:alert]
          = yield
      %footer#footer.row
        .contact-us.col-lg-12
          %p.lead
            = t '.use_to_contact'
        .media-net
          .col-lg-6
            %small
              = t '.media_soc'
          .col-lg-6.text-right
            %small
              = t '.mail_scype'
        .soc_net
          .col-lg-4
            %p.lead
              = link_to(t('.follow_twitter'), 'http://twitter.com')
          .col-lg-4
            %p.lead
              = link_to(t('.follow_facebook'), 'http://facebook.com')
          .col-lg-4
            %p.lead
              = link_to(t('.contact_email'), contact_index_path)
        .bottom.text-center.col-lg-12
          © 2012-2013 RoR-Team
