!!!
%html
  %head
    = favicon_link_tag '/favicon.ico?1'
    %title RorTeam
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gon(:namespace => 'RorTeam', :camel_case => true)
    = csrf_meta_tags
  %body
    - if session[:chat_id] && controller.controller_name != 'contact'
      = render :partial => 'shared/live_chat'
    .container
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          = link_to(t('.ror_team'), root_path, :class => 'navbar-brand')
          %ul.nav.navbar-nav
            = nav_link_to(t('.company'), company_index_path, 'company')
            = nav_link_to(t('.work'), projects_path, 'projects')
            = nav_link_to(t('.team'), team_index_path, 'team')
            = nav_link_to(t('.careers'), jobs_path, 'jobs')
            = nav_link_to(t('.contact'), contact_index_path, 'contact')
            = nav_link_to(t('.blog'), posts_path, 'posts')
          .pull-right.live-chat
            - if session[:chat_id]
              %span{:class => 'btn btn-success', :id => 'chat_show'}
                = t('.live_chat')
            - elsif controller.controller_name == 'contact'
              %span{:class => 'btn btn-warning', :id => 'chat_contact'}
                = t('.live_chat')
            - else
              %span{:class => 'btn btn-warning', :id => 'chat_start'}
                = t('.live_chat')
      .content.row
        .col-lg-12
          - if flash[:error]
            %p.alert.alert-error
              = flash.now[:error]
          - if flash[:notice]
            %p.alert.alert-success
              = flash.now[:notice]
          - if flash[:alert]
            %p.alert.alert-info
              = flash.now[:alert]
          = yield
      %footer#footer
        .contact-us
          %p
            © 2012-2013 RoR-Team
        .soc_net
          = link_to 'http://twitter.com' do
            = image_tag 'twitter.png'
          = link_to 'http://facebook.com' do
            = image_tag 'facebook.png'
          = link_to contact_index_path do
            = image_tag 'envelope.png'


